/* Colors
-------------------------------------------------------------------------- */
$color-white            : rgb(255, 255, 255);       // #FFFFFF
$color-white-smoke      : rgb(248, 248, 248);       // #F8F8F8 

$color-light-grey       : rgb(212, 215, 217);       // #D4D7D9
$color-grey             : rgb(157, 166, 173);       // #9DA6AD
$color-dark-grey        : rgb(122, 128, 133);       // #7A8085

$color-black            : rgb(45, 45, 45);          // #2D2D2D

$color-light-blue       : rgb(147, 164, 179);       // #93a4b3
$color-blue             : rgb(82, 100, 117);        // #526475
$color-dark-blue        : rgb(16, 49, 66);          // #103142

$color-blue-facebook    : rgb(58, 87, 149);         // #3A5795

$color-lightning-yellow : rgb(255, 198, 30);        // #FFC61E
$color-gamboge          : rgb(216, 163, 13);        // #D8A30D

$color-orange           : rgb(255, 80, 0);          // #FF5000

$color-red              : rgb(241, 51, 53);         // #F13335
$color-fire-engine-red  : rgb(196, 31, 31);         // #C41F1F

$color-green            : rgb(96,198,89);           // #60C659
$color-dark-pastel-green: rgb(25, 174, 53);         // #19AE35

/* Array Colors
-------------------------------------------------------------------------- */

// Selector Identifier, Principal Color, Inverse Color
$principal-colors:
    ("white",               $color-white,               $color-dark-grey),
    ("white-smoke",         $color-white-smoke,         $color-dark-grey),
    
    ("light-grey",          $color-light-grey,          $color-dark-grey),
    ("grey",                $color-grey,                $color-white),
    ("dark-grey",           $color-dark-grey,           $color-white),
    
    ("black",               $color-black,               $color-white),
    
    ("light-blue",          $color-light-blue,          $color-white),
    ("blue",                $color-blue,                $color-white),
    ("dark-blue",           $color-dark-blue,           $color-white),
    
    ("blue-facebook",       $color-blue-facebook,       $color-white),
    
    ("lightning-yellow",    $color-lightning-yellow,    $color-white),
    ("gamboge",             $color-gamboge,             $color-white),
    
    ("orange",              $color-orange, 	            $color-white),
    
    ("red",                 $color-red,                 $color-white),
    ("fire-engine-red",     $color-fire-engine-red,     $color-white),
    
    ("green",               $color-green,               $color-white),
    ("dark-pastel-green",   $color-dark-pastel-green,   $color-white)
;


/* Colors Utils
-------------------------------------------------------------------------- */

// Background
@each $color-class, $color-primary, $color-inverse in $principal-colors {
    .bg-#{$color-class} {
        background-color: $color-primary;
        color           : $color-inverse;
    }
}

// Text
@each $color-class, $color-primary, $color-inverse in $principal-colors {
    .text-#{$color-class} {
        color: $color-primary;
    }
}
