$this: "container";
#{$this} {
	display: block;

	width    : 100%;
	max-width: 960px;

	margin-right: auto;
	margin-left : auto;

	padding-right: $container-padding;
	padding-left : $container-padding;

    box-sizing: border-box;

	&:before,
	&:after {
		content: " ";
    	display: table;
	    box-sizing: border-box;
	}

	&:after {
		clear: both;
	}

	@include phoneAndTablet {
		max-width: 660px;
	}
}
