/* Navbar
-------------------------------------------------------------------------- */
$this: ".navbar";
#{$this} {
    position: relative;
    width: 100%;
    min-height: $navbar-min-height;
    @include transition();
    background-color: $color-white;
    color: $color-blue;
    box-shadow: 0 4px 5px 0 rgba($color-black, .1);
    @include border-radius(3px);

    &-nav {
        float: left;
        width: 100%;
        margin: 0;
        padding: {
            left: 20px;
            right: 20px;
        }

        &:before {
            display: table;
            content: " ";
        }

        #{$this}-brand {
            color: $color-dark-grey;
            float: left;
            max-width: 250px;
            padding: 14px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 27px;
            line-height: 1.2;
            font-weight: 300;
            text-decoration: none;
            outline: 0;
            cursor: pointer;
            @include transition;

            &-logo {
                width: 32px;
                height: 32px;
                margin: -7px 2px;
            }

            small {
                font-size: 50%;
                opacity: 0.5;
            }

            &:hover {
                color: lighten($color-dark-grey, 25%);
            }
        }

        #{$this}-menu {
            float: right;
            margin: 0;
            list-style: none !important;

            &:before {
                display: table;
                content: " ";
            }

            &-toggle {
                display: none;
                float  : right;

                margin : 0 -#{$container-padding} 0 0;
                padding: 16px 15px;
                height : $navbar-min-height;

                font-size: 24px;
                color    : $color-dark-grey;

                cursor: pointer;

                border    : 0;
                outline   : 0;
                background: none;

                &:hover,
                &:active,
                &:focus {
                    outline         : 0;
                    background-color: $color-white-smoke;
                }
            }

            &.list {
                font-size: 14px;
                line-height: 1.5;

                .list-border,
                .list-item,
                .list-item-link {
                    float: left;
                    margin: 0;
                    height: $navbar-min-height;
                }

                .list-border {
                    border-left: 1px solid rgba($color-black, .1);
                    margin: {
                        left: 10px;
                        right: 10px;
                    }
                }

                .list-item {
                    padding: 0;

                    &-link {
                        padding: 20px 10px;

                        &:hover,
                        &:focus,
                        &:active,
                        &.active {
                            color: lighten($color-blue, 25%);
                        }
                    }

                    &.active {
                        color: lighten($color-blue, 25%);
                    }

                    .button {
                        margin: 10px 0;
                    }
                }
            }

            &-user {
                max-width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &-avatar {
                    display: inline-block;
                    float: left;
                    width: 32px;
                    height: 32px;
                    margin: 14px 0 14px 12px;
                    border: 1px solid $color-light-grey;
                    @include border-radius(50%);
                }
            }
        }
    }

    &--inverted {
        background-color: $color-blue;
        color: $color-white;

        #{$this} {
            &-brand {
                color: $color-white;
            }
        }

        #{$this}-nav {
            #{$this}-menu-toggle {
                color: $color-white;

                &:hover,
                &:active,
                &:focus {
                    outline         : 0;
                    background-color: darken($color-blue, 5%);
                }
            }

            #{$this}-menu {

                &.list {
                    .list-border {
                        border-color: rgba($color-white, .25);
                    }

                    .list-item,
                    .list-item-link {
                        color: $color-white;

                        &:hover,
                        &:focus,
                        &:active,
                        &.active {
                            color: $color-light-grey;
                        }
                    }
                }

                &-item {
                    color: $color-white;

                    &-link:not(.button) {
                        color: $color-white;
                    }

                    &.dropdown {
                        &:after {
                            border-top-color: $color-white;
                        }
                    }
                }

                &-border {
                    border-left: 1px solid rgba($color-white, .2);
                }

                &-user {
                    &-avatar {
                        background-color: $color-white;
                        border-color: $color-white;
                    }
                }
            }
        }
    }

    &--static-top,
    &--fixed-top {
        top: 0;
        right: 0;
        left: 0;
        @include border-radius(0);

        #{$this} {
            &-nav {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    &--fixed-top {
        position: fixed;
        z-index: 1030;
    }
}

@include phone {
    #{$this} {
        &-nav {
            #{$this}-menu {
                display: none;

                &-toggle {
                    display: block;
                }
            }
        }
    }
}
